@font-face{
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face{
    font-family: sourcesanspro;
    src: url(/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face{
    font-family: panton;
    src: url(/fonts/panton/Panton-LightCaps.otf);
}
