footer{
    width: 100%;
    font-family: montserrat;
    color: #464646;
    height: 5em;
    position: absolute;
    bottom: 0;
    @include display(flex);
    a{
        color: #6c6c6c;
        text-decoration: none;
    }
    .left p{
        padding-left: 5em;
        margin: 0;
        padding-top: 2em;
    }
    .right{
        padding-right: 5em;
        text-align: right;
        padding-top: 2em;
        a{
            margin-bottom: 0;
            margin-left: 1em;
        }
    }
}

.fa-heart{
    color: #c0392b;
}
