!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %title
            Dashboard | Create a Club
        %link{:href => "/css/dashboard.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/icons/css/font-awesome.min.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/graphics/icon.png", :rel => "shortcut icon", :type => "image/png"}/
    %body
        #wrapper
            %nav
                .left
                    %p
                        CLUB RALLY
                .right
                    %a{:href => "/logout"}
                        LOGOUT
                    .contain
                        %form{:action => "/dashboard/search", :method => "get"}
                            %span.fa.fa-fw.fa-search
                            %input{:type => "text", :name => "search"}
            #body
                #sidebar
                    .opt
                        %a{:href => "/dashboard/home"}
                        .left
                            %i.fa.fa-users.fa-fw
                            .color
                        .right
                            MY CLUBS
                    .opt
                        %a{:href => "/dashboard/browse"}
                        .left
                            %i.fa.fa-folder-open.fa-fw
                            .color
                        .right
                            BROWSE CLUBS
                    .opt
                        %a{:href => "/dashboard/notifications"}
                        .left
                            %i.fa.fa-newspaper-o.fa-fw
                            .color
                        .right
                            FEED
                            -unless @user.notifications.length == 0
                                ="(#{@user.notifications.length})"
                    .opt.active
                        %a{:href => "/dashboard/createclub"}
                        .left
                            %i.fa.fa-plus.fa-fw
                            .color
                        .right
                            CREATE A CLUB
                #content
                    #color-strip
                    %header
                        %h1
                            %i.fa.fa-fw.fa-plus
                            CREATE A CLUB
                    #info
                        %form#createclub{:action => "/createclub", :method => "post"}
                            %p
                                About:
                            %input.text{:type => "text", :name => "name", :placeholder => "Club name"}
                            %br
                            %input.text{:type => "text", :name => "description", :placeholder => "Short description"}
                            %br
                            %input.text{:type => "text", :name => "img", :placeholder => "Club Image Url"}
                            %br
                            %select{:name => "tags"}
                                %option{:selected => "", :disable => ""}
                                    Club Category:
                                -$categories.each do |option|
                                    %option{:value => option[:name]}
                                        =option[:name]
                                %option{:value => "Other"}
                                    Other
                            %p
                                Meetings:
                            %select.text-medium{:name => "weekday"}
                                %option{:value => "Sunday"}
                                    Sunday
                                %option{:value => "Monday"}
                                    Monday
                                %option{:value => "Tuesday"}
                                    Tuesday
                                %option{:value => "Wednesday"}
                                    Wednesday
                                %option{:value => "Thursday"}
                                    Thursday
                                %option{:value => "Friday"}
                                    Friday
                                %option{:value => "Saturday"}
                                    Saturday
                            %select.text-small{:name => "time"}
                                %option{:value => "6:00am"}
                                    6:00am
                                %option{:value => "7:00am"}
                                    7:00am
                                %option{:value => "8:00am"}
                                    8:00am
                                %option{:value => "9:00am"}
                                    9:00am
                                %option{:value => "10:00am"}
                                    10:00am
                                %option{:value => "11:00am"}
                                    11:00am
                                %option{:value => "12:00pm", :selected => ""}
                                    12:00pm
                                %option{:value => "1:00pm"}
                                    1:00pm
                                %option{:value => "2:00pm"}
                                    2:00pm
                                %option{:value => "3:00pm"}
                                    3:00pm
                                %option{:value => "4:00pm"}
                                    4:00pm
                                %option{:value => "5:00pm"}
                                    5:00pm
                                %option{:value => "6:00pm"}
                                    6:00pm
                                %option{:value => "7:00pm"}
                                    7:00pm
                                %option{:value => "8:00pm"}
                                    8:00pm
                                %option{:value => "9:00pm"}
                                    9:00pm
                                %option{:value => "10:00pm"}
                                    10:00pm
                            %br
                            %input.text{:type => "text", :name => "location", :placeholder => "Location"}
                            %br
                            %input.btn{:type => "submit", :value => "CREATE"}
                    %footer
                        .left
                            %p
                                Made with 
                                %i.fa.fa-heart
                                in 
                                %a{:href => "https://www.andover.edu", :target => "_blank"}
                                    Andover
                        .right
                            -$footer.each do |link|
                                %a{:href => link[:path]}
                                    =link[:text]