!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %title
            Club Guidelines
        %link{:href => "/css/terms.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/graphics/icon.png", :rel => "shortcut icon", :type => "image/png"}/
    %body
        %h1
            Club Guidelines
        %h2
            Valid as of June 18, 2016
        %hr
        .text
            %h3
                Requirements for clubs
            %p
                We reserve the right to deny approval for any club on Club Rally if they do not fulfill these requirements of a Phillips Academy club:
            %ol
                %li
                    Although all use are welcome to join clubs on Club Rally, we require the boards of each club to be accurately represented on the site. We have designated features that allow clubs to update their board as needed.
                %li
                    The upload image option is designed to allow clubs to display their own logos. Any copyrighted, offensive, or sensitive images will be taken down.
                %li
                    Outside of publications and special events clubs, all clubs are required to meet at least once a month to be listed on the site. Meeting place must be at a sanctioned spot on campus.
            %h3
                Harassment and Discrimination
            %p
                We at Club Rally take harassment and discrimination of any kind very seriously. Any proven attempts by clubs or users on this site to discriminate against or harass other users or clubs will result in immediate deletion of those clubs or users. Our decision on what is harassment or discrimination is not up for debate.
            %h3
                Disclaimer
            %p
                We (being the administrative team) have the power to edit or delete your club without notice if we feel it violates the Terms of Service or the guidelines stated above.



