!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %title
            Club Rally
        %link{:href => "/css/landing.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/icons/css/font-awesome.min.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/graphics/icon.png", :rel => "shortcut icon", :type => "image/png"}/
    %body
        #wrapper
            %nav
                .left
                    %p
                        CLUB
                        %span
                            RALLY
                .right
                    %a{:href => "/login"}
                        Login
                    %a.btn{:href => "/register"}
                        Sign up
            %header
                .center
                    %h1
                        Extracurriculars without the hassle
                    %p
                        Find and receive updates from clubs around campus
                    %a.btn{:href => "/register"}
                        REGISTER
            #body
                .bodybox
                    %h1
                        WHAT WE DO
                    %hr
                    %p
                        There are over a hundred clubs and organizations on campus, covering topics spanning from art to science to social justice. As great as this is, Andover's organization system is, well, non-existent. There is no official club database, it is hard to find clubs once the school year starts, and it is a hassle to manage mailing lists. We're here to change that. Club Rally is a platform that is a database for clubs, and solves all of these problems. If you are a club owner, you can manage mailing lists, find new members, and broadcast your clubs. If you are a student, Club Rally helps you manage and find clubs you are interested in. It’s fast, it’s easy, it’s necessary. 
                .bodybox
                    %h1
                        MEET THE TEAM
                    %hr
                    #grid
                        .member
                            .img#jeff
                            %h1
                                JEFFREY SHEN
                            %hr
                            %a{:href => "mailto:jshen@andover.edu"}
                                %i.fa.fa-fw.fa-envelope
                            %a{:href => "https://www.facebook.com/jeffrey.shen.7712"}
                                %i.fa.fa-fw.fa-facebook-official
                        .member
                            .img#hebbie 
                            %h1
                                HERBIE TURNER
                            %hr
                            %a{:href => "mailto:hturner@andover.edu"}
                                %i.fa.fa-fw.fa-envelope
                            %a{:href => "https://www.facebook.com/profile.php?id=100009245608261&fref=ts"}
                                %i.fa.fa-fw.fa-facebook-official
                        .member
                            .img#spencer
                            %h1
                                SPENCER DAVIS
                            %hr
                            %a{:href => "mailto:sdavis@andover.edu"}
                                %i.fa.fa-fw.fa-envelope
                            %a{:href => "https://www.facebook.com/spencer.davis.98434?fref=ts"}
                                %i.fa.fa-fw.fa-facebook-official
                        .member
                            .img#munda
                            %h1
                                AMANDA LI
                            %hr
                            %a{:href => "mailto:ali2@andover.edu"}
                                %i.fa.fa-fw.fa-envelope
                            %a{:href => "https://www.facebook.com/amanda.li.52438"}
                                %i.fa.fa-fw.fa-facebook-official
                        .member
                            .img#joce
                            %h1
                                JOCELYN SHEN
                            %hr
                            %a{:href => "mailto:jshen1@andover.edu"}
                                %i.fa.fa-fw.fa-envelope
                            %a{:href => "https://www.facebook.com/jocelyn.shen.3?fref=ts"}
                                %i.fa.fa-fw.fa-facebook-official
                    
            %footer
                .left
                    %p
                        Made with 
                        %i.fa.fa-heart
                        in 
                        %a{:href => "https://www.andover.edu", :target => "_blank"}
                            Phillips Academy
                .right
                    %a{:href => "/terms"}
                        TERMS OF SERVICE
                    %a{:href => "https://docs.google.com/forms/d/1mtfMw_Ok2Wxs8SiRH8poPpYui1emb-YeGUjkG6voIwM/viewform"}
                        REPORT A BUG
                    %a{:href => "mailto:jshen@andover.edu"}
                        CONTACT