!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %title
            Internal Server Error
        %link{:href => "/css/oops.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/graphics/icon.png", :rel => "shortcut icon", :type => "image/png"}/
    %body
        .center
            %h1
                Oops!
            %p
                Our server kinda messed up.
                %a{:href => "https://docs.google.com/forms/d/1mtfMw_Ok2Wxs8SiRH8poPpYui1emb-YeGUjkG6voIwM/viewform"}
                    Report the bug
                or
                %a{:href => "/"}
                    go back home
