!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %title
            Terms of Service
        %link{:href => "/css/terms.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/graphics/icon.png", :rel => "shortcut icon", :type => "image/png"}/
    %body
        %h1 
            Terms of Service
        %h2
            Valid as of May 14, 2016
        %hr
        .text
            %h3
                Terms
            %p
                Club Rally is an online tool to help Phillips Academy students find, join, and create clubs. Its sole function is to make extracurriculars at Andover easier to manage. By accessing this web site, you are agreeing to be bound by these Terms of Service, and agree that you are responsible for compliance with any applicable local laws and the Blue Book. If you do not agree with any of these terms, you are prohibited from using or accessing this site. 
            %h3
                Rules
            %p
                In order to continue to use Club Rally, you (the user) must abide by the following rules:
            %ol
                %li
                    You must be a current member of the Phillips Academy community and have a valid Andover email.
                %li
                    You cannot attempt to deconstruct or reverse engineer any software contained on Club Rally's web site. 
                %li
                    The email address you use to sign up with needs to be your own, and you cannot fake your identity.
                %li
                    You cannot attempt tamper with or try to gain unauthorized access to the access (hacking).
                %li
                    Club Rally cannot be used to create inflammatory or offensive content outside of Club Rally's original purpose.
            %h3
                Bugs and glitches
            %p
                Club Rally is relatively new and still contains bugs and errors. We expect that if you encounter a bug of any sort, that you report them. Any illegal use of them will result in the termination of your account.
            %h3
                Disclaimer
            %p
                The materials on Club Rally's web site are provided "as is". Club Rally makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties. We are not responsible for any damages that may occur due to your use of Club Rally. We may change the Terms of Service at any time without notice, and by using this site, you are agreeing to be bound by the then current version of these Terms of Service. We reserve the right to shut down Club Rally's services at any time without notice, and to remove users or clubs that we believe are violating our Terms of Service.
