@font-face{
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face{
    font-family: sourcesanspro;
    src: url(/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face{
    font-family: panton;
    src: url(/fonts/panton/Panton-LightCaps.otf);
}

html,
body {
    margin:0;
    padding:0;
}

#wrapper {
    position:relative;
    overflow: hidden;
}

.center{
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

nav{
    width: 100vw;
    height: 4em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #373737;
    color: #ACACAC;
}

nav a{
    color: #ACACAC; 
    line-height: 4em;
    text-decoration: none;
    margin-right: 1em;
    font-family: montserrat;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

nav a:hover{
    color: #7e7d7d;
}

nav .left p{
    font-family: montserrat;
    font-size: 1em;
    line-height: 2em;
    padding-left: 2em;
}

nav .right{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

.contain{
    position: relative;
    width: 15em;
    float: right;
    margin-right: 1em;
}

nav .right input{
    width: 15em;
    height: 2.5em;
    border: none;
    color: #9b9a9a;
    margin-top: 0.75em;
    border-radius: 5px;
    margin-right: 1em;
 
    box-sizing: border-box;
    font-size: 1em;
    font-family: sourcesanspro;
    text-indent: 30px;
}

span.fa-search{
    position: absolute;
    top: 24px;
    left: 7px;
    font-size: 15px;
}

#body{
    width: 100vw;
    height: calc(100vh - 4em);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

#sidebar{
    width: 20em;
    height: inherit;
    border-right: 1px solid #E4E4E2;
    background-color: #f5f5f4;
    position: relative;
}

.opt{
    width: 100%;
    height: 4em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E4E4E2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.opt a{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.opt .left{
    width: 4.5em;
    height: inherit;
    border-right: 1px solid #E4E4E2;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.opt .left .fa{
    font-size: 1.4em;
    line-height: 2.87514em;
    color: #6f7071;
}

.active .left{
    background-color: #22A7F0;
    border-right: #22A7F0;
}

.active .left .fa{
    color: #fff;
}

.opt .right{
    font-family: montserrat;
    line-height: 4em;
    color: #6f7071;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1em;
    padding-left: 1.5em;
}

#content{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: inherit;
    position: relative;
    background-color: #F2F2F0;
}


#color-strip{
    width: 100%;
    height: 0.5em;
    background-color: #22A7F0;
}

#content header{
    height: 4em;
    background-color: #F7F6F2;
    width: 100%;
    border-bottom: 1px solid #D2D0C5;
    padding: 1px;
}

#content header h1{
    color: #b5b2b2;
    font-family: montserrat;
    font-size:1.4em;    
    line-height: 1.42857143em;
    text-align: right;
    padding-right: 2em;
}

#img-container{
    width: 12em;
    height: 12em;
}

#img-container #img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
    border-radius: 100%;
}

#text{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 2em;
}

#text h1{
    font-family: montserrat;
    margin-bottom: 0em;
}

#text a{
    margin-top: 0em;
}

#info{
    width: 100%;
    height: calc(100vh - 13.5em);
    overflow-y: scroll;
    padding-top: 3em;
    margin-bottom: 5em;
    padding-left: 3em;
    padding-right: 3em;
    box-sizing: border-box;
}

#info #contain{
    margin: 0 auto;
}

#info p{
    font-family: montserrat;
    color: #6c6c6c;
}

#createclub p{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#createclub a{
    color: #6EBAEE;
    text-decoration: none;
}

.club{
    padding-left: 10%;
}

.club h1, .notification-box h1, .frown, .browse h1{
    font-family: montserrat;
    color: #464646;
    font-size: 1em;
    margin: 0;
}

.club p, .feed p{
    font-family: sourcesanspro;
    color: #6c6c6c;
    margin: 0;
}

.club a, .feed a{
    text-decoration: none;
    color: #6c6c6c;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.club a:hover, .feed a:hover{
    color: #373737;
}

.club .add{
    cursor: pointer;
    color: #52B3D9;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.club .add:hover{
    color: #4a98b7;
}

.club-box{
    border: 1px solid #b9b9b9;
    width: 17em;
    height: 21em;
    position: relative;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
    padding-left: 0.7em;
    padding-right: 0.7em;
    box-sizing: border-box;
    vertical-align: text-top;
    display: inline-block;
}

.browse h1{
    margin-bottom: 0.25em;
}

.club-box h1{
    font-family: montserrat;
    color: #464646;
    font-size: 1.2em;
    word-wrap: break-word;
    margin-bottom: 0;
}

.club-box p{
    margin-top: 0;
    margin-bottom: 1.5em;
    color: #6c6c6c;
    font-family: sourcesanspro;
}

.club-box .subtitle{
    font-size: 0.75em;
    margin-top: 1.25em;
    text-decoration: none;
}

.club-box .subtitle a{
    text-decoration: none;
    color: #464646;
}


/*.notification{
    width: 30em;
    position: relative;
    height: 5.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1px;
}*/

/*.notification .fa-times{
    color: #6c6c6c;
    font-size: 1.5em;
    padding-right: 0.7em;
    line-height: 3.6666666666em;
}*/

/*.notification .ghost{
    visibility: hidden;
}

.notification-box{
    width: 90%;
    height: 100%;
    border: 1px solid #b9b9b9;
    position: relative;
}*/

.notification-box{
    position: relative;
    width: 27em;
    height: 5.5em;
    border: 1px solid #b9b9b9;
}

.notification-box .fa{
    margin-left: 0.75em;
    margin-top: 0.85em;
    padding: 0.5em 0.4em 0.5em 0.4em;
    font-size: 1.5em;
    border-radius: 100%;
    color: #fff;
    float: left;
    margin-right: 0.75em;
}

.fa-clock-o, .fa-user, .notification-box .fa-plus, .notification-box .fa-sign-out, .fa-thumbs-up, .fa-thumbs-down{
    background-color: #84C7FD;
}

.notification-box .fa-times{
    color: #6c6c6c;
    font-size: 1em;
    position: absolute;
    top: 0.85em;
    right: 0.85em;
    padding: 0;
    margin: 0;
}

/*.fa-clock-o{
    background-color: #84C7FD;
}

.fa-user{
    background-color: #FD9E6D;
}

.notification-box .fa-plus{
    background-color: #2ECC71;
}

.notification-box .fa-sign-out{
    background-color: #FD797B;
}*/

.notification-box .text{
    padding-top: 1.25em;
}

.notification-box h1{
    font-size: 1.1em;
}

.club-box .img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin: 0 auto 0.5em;
}

.club-box .btn, #confirm .btn{
    padding: 0.75em 2em 0.75em 2em;
    background-color: #22A7F0;
    color: #fff;
    text-decoration: none;
    font-family: montserrat;
}

#confirm .btn{
    line-height: 3em;
    cursor: pointer;
}

.club-box .btn-empty{
    border: 2px solid #22A7F0;
    background-color: #F2F2F0;
    color: #464646;
}

.club p.member{
    margin-bottom: 0.5em;
}

#confirm .btn{
    margin-right: 0.2em;
}

/*
    CLUB OVERHEAD
*/

#overhead{
    width: 100%;
    border-bottom: 1px solid #D2D0C5;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#overhead .img{
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#overhead .img:hover .overlay{
    visibility: visible;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #000;
}

#overhead .img .overlay{
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    opacity: 0.75;
    color: #fff;
    visibility: hidden;
    border-radius: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;
}

#overhead .text{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 0.7em;
    padding-top: 0.3em;
}

#overhead .buttons{
    position: absolute;
    top: calc(0.3em + 5px);
    right: 0;
}

#overhead .btn{
    color: #464646;
    font-family: montserrat;
    font-size: 1em;
    border: 2px solid #6c6c6c;
    border-radius: 100%;
    padding: 5px;
    margin-left: 6px;
    cursor: pointer;
}

#overhead .btn-long{
    border-radius: 1em;
    color: #464646;
    padding: 5px 12px 5px 12px;
    font-family: montserrat;
    font-size: 1em;
    border: 2px solid #6c6c6c;
}

#confirm .red{
    background-color: #E06B6C;
}

#createclub{
    text-align: left;
    width: 30em;
}

#createclub .text{
    width: 100%;
    box-sizing: border-box;
    height: 3em;
    border: none;
    font-family: sourcesanspro;
    font-size: 0.9em;
    color: #6c6c6c;
    padding-left: 1em;
    margin-bottom: 0.2em;
}

#createclub .btn, #editimage .btn, #addhead .btn{
    width: 100%;
    border-radius: 0px;
    height: 3em;
    background-color: #22A7F0;
    font-size: 0.9em;
    color: #fff;
    border: none;
    font-family: montserrat;
    margin-top: 0.5em;
    box-sizing: border-box;
    cursor: pointer;
}

#editimage .btn, #addhead .btn{
    width: 10em;
}

#createclub select{
    height: 3em;
    width: 100%;
    font-size: 0.9em;
    color: #6c6c6c;
    font-family: sourcesanspro;
    margin-bottom: 0.2em;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    padding-left: 1em;
}

#createclub .text-medium{
    width: 65%;
}

#createclub .text-small{
    width: 34%;
    font-family: sourcesanspro;
    font-size: 0.9em;
    height: 3em;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #6c6c6c;
    padding-left: 1em;
    box-sizing: border-box;
    margin-bottom: 0.2em;
    margin-left: -1px;
}

#createclub .error, #addhead .error{
    background-color: #E06B6C;
    width: calc(100% - 1px);
    margin: 0 auto;
    height: 2.7em;
    text-align: center;
}

#createclub .error p, #addhead .error p{
    font-family: sourcesanspro;
    line-height: 2.7em;
    color: #f2f2f2;
}

#addhead .error{
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

/*
    Popups
*/

#overlay{
    z-index: 100;
    opacity: 0.6;
    background-color: #464646;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#popup, #confirm, #editimage, #addhead{
    width: 35vw;
    border: 1px solid #6c6c6c;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}

#popup, #addhead{
    height: 75vh;
    padding: 1.2em 1.5em 0 1.5em;
    overflow: hidden;
}

#confirm{
    height: 15em;
    text-align: center;
}

#editimage{
    height: 12em;
    padding: 1.2em 1.5em 0 1.5em;
}

#confirm p{
    margin-top: 0.2em;
    font-family: sourcesanspro;
    color: #6c6c6c;
}

#popup h1, #confirm h1, #editimage h1, #addhead h1{
    margin: 0;
    font-family: montserrat;
    font-size: 1.2em;
    color: #464646;
}

#popup hr, #editimage hr, #addhead hr{
    border-top: 1px solid #464646;
}

#popup .fa-times, #confirm .fa-times, #editimage .fa-times, #addhead .fa-times{
    cursor: pointer;
    color: #b9b9b9;
    position: absolute;
    right: 1.5em;
    top: 1.2em;
}

#popup .members, #addhead .members{
    overflow-y: scroll;
    height: 90%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: calc(35vw + 15px);
    margin: 0 -1.5em -1.2em -1.5em;
    box-sizing: border-box;
}

#popup section{
    font-family: montserrat;
    color: #464646;
    height: 3em;
    
}

#popup section p, #popup section .btn{
    line-height: 3em;
    margin: 0;
    font-size: 1em;
    float: left;
}

#popup section .btn{
    float: right;
    border: 1px solid #b9b9b9;
    color: #b9b9b9;
    margin-top: 0.5em;
    padding: 0.5em;
    line-height: 1em;
    text-decoration: none;
}

#popup .members hr{
    border-top: 1px solid #b9b9b9;
}

#addhead form{
    font-family: montserrat;
    color: #464646;
}

#addhead .checkbox{
    margin-right: 1em;
}

.fa-heart{
    color: #c0392b;
}

.category{
    width: 11em;
    height: 11em;
    display: inline-block;
    margin-right: -3px;
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
    vertical-align: text-top;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 1px;
}

.category .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 90;
    background-color: #000;
}

.category a{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.category .fa{
    font-size: 2em;
}

.category .center{
    z-index: 95;
}

.category .center h1{
    color: #b9b9b9;
}

footer{
    width: 100%;
    font-family: montserrat;
    color: #464646;
    height: 5em;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
}

footer a{
    color: #6c6c6c;
    text-decoration: none;
}

footer .left p{
    padding-left: 5em;
    margin: 0;
    padding-top: 2em;
}

footer .right{
    padding-right: 5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    padding-top: 2em;
}

footer .right a{
    margin-bottom: 0;
    margin-left: 1em;
}

*:focus{
    outline: none;
}

.join-btn{
    z-index: 100;
}

.linebreak{
    display: inline;
}

@media screen and (max-width: 1100px){
    footer{
        display: block;
        height: 4em;
    }
    
    footer .left, footer .right{
        text-align: center;
        padding: 0;
    }
    
    footer .left p{
        padding: 0;
        margin-bottom: 0.1em;
    }

}

@media screen and (max-width: 1000px){
    #popup, #confirm{
        width: 50vw;
    }
    
    #popup .members{
        width: calc(50vw + 15px);
    }
}

@media screen and (max-width: 850px){
    #sidebar{
        width: 4.5em;
    }
    
    .opt .right{
        display: none;
    }

    .opt .left{
        border: 0px;
    }
    
    #color-strip{
        display: none;
    }
    
    .feed{
        padding-left: 0;
    }

}

@media screen and (max-width: 670px){
    #content header{
        display: none;
    }
    
    #body{
        display: block;
    }
    
    #sidebar{
        width: 100vw;
        height: 4em;
        border-bottom: 1px solid #E4E4E2;
    }
    
    .opt{
        display: inline-block;
        width: 25vw;
        border-bottom: 0px;
        margin-right: -0.25em;
        border-right: 1px solid #E4E4E2;
    }
    
    .opt .left{
        width: 100%;
    }
    
    .opt:nth-child(4){
        border-right: 0px;
    }
    
    #info{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    
    #info .notification-box{
        text-align: left;
        margin: 0 auto;
    }
    
    #info #contain{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    
    .club-box{
        margin-left: 0;
    }
    
    nav .left{
        display: none;
    }
    
    #createclub{
        width: 85%;
        margin: 0 auto;
        padding-left: 0;
    }
    
    .linebreak{
        display: block;
        margin-bottom: 1.7em;
    }
    
    .notification{
        margin: 0 auto;
        width: 80%;
    }
    
    footer{
        margin-bottom: 5em;
    }
    
    #popup, #confirm{
        width: 80vw;
    }
    
    #popup .members{
        width: calc(80vw + 15px);
    }

    #overhead{
        display: block;
        padding-bottom: 2em;
    }

    #overhead .img{
        margin: 0 auto 0.5em;
        width: 10em;
        height: 10em;
    }

    #overhead .img .overlay{
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
    }

    #overhead .img .overlay .fa{
        font-size: 1.5em;
    }

    #overhead .text{
        padding: 0;
    }

    #overhead .buttons{
        position: relative;
    }

}

@media screen and (max-width: 550px){
    #info .notification-box{
        width: 80%;
    }   
}
